//
// Core: Main Header
//

.app-header {
  z-index: $rdh-zindex-app-header;
  grid-area: #{$rdh-prefix}app-header;
  max-width: 100vw;
  border-bottom: $rdh-app-header-bottom-border;


  .nav-link {
    position: relative;
    height: $nav-link-height;
  }
}

// Navbar badge
.navbar-badge {
  position: absolute;
  top: 9px;
  right: 5px;
  padding: 2px 4px;
  font-size: 0.6rem;
  font-weight: 400;
}
