//
// Core: Main Footer
//

.app-footer {
  grid-area: #{$rdh-prefix}app-footer;
  width: inherit;
  max-width: 100vw;
  min-height: 3rem;
  padding: $rdh-app-footer-padding;
  color: $rdh-app-footer-color;
  background-color: $rdh-app-footer-bg;
  border-top: $rdh-app-footer-border-top;

}
