//
// Custom AdminLTE Variables
//

// Prefix for :root CSS variables and others.
$rdh-prefix: rdh- !default;

// TRANSITIONS SETTINGS
// --------------------------------------------------------
// Transition global options
$rdh-transition-speed: 0.3s !default;
$rdh-transition-fn: ease-in-out !default;

// SIDEBAR
// --------------------------------------------------------
$rdh-sidebar-width: 250px !default;
$rdh-sidebar-breakpoint: lg !default;
$rdh-sidebar-padding-x: 0.5rem !default;
$rdh-sidebar-padding-x-compact: 0.5rem !default;
$rdh-sidebar-padding-y: 0.5rem !default;
$rdh-sidebar-padding-y-compact: 0.25rem !default;
$rdh-sidebar-transition:
  min-width $rdh-transition-speed $rdh-transition-fn,
  max-width $rdh-transition-speed $rdh-transition-fn,
  margin-left $rdh-transition-speed $rdh-transition-fn,
  margin-right $rdh-transition-speed $rdh-transition-fn !default;

// SIDEBAR SKINS
// --------------------------------------------------------

$rdh-sidebar-hover-bg: rgba($black, 0.1) !default;
$rdh-sidebar-color: $gray-800 !default;
$rdh-sidebar-hover-color: $gray-900 !default;
$rdh-sidebar-active-color: $black !default;
$rdh-sidebar-menu-active-bg: rgba($black, 0.1) !default;
$rdh-sidebar-menu-active-color: $black !default;
$rdh-sidebar-submenu-bg: transparent !default;
$rdh-sidebar-submenu-color: #777 !default;
$rdh-sidebar-submenu-hover-color: $black !default;
$rdh-sidebar-submenu-hover-bg: rgba($black, 0.1) !default;
$rdh-sidebar-submenu-active-color: $gray-900 !default;
$rdh-sidebar-submenu-active-bg: rgba($black, 0.1) !default;
$rdh-sidebar-header-color: shade-color($gray-800, 5%) !default;

// SIDEBAR MINI
// --------------------------------------------------------
$nav-link-padding-x-compact: 0.25rem !default;
$rdh-sidebar-mini-width: ($nav-link-padding-x + $rdh-sidebar-padding-x + 0.8rem) *
  2 !default;
$rdh-sidebar-mini-width-compact: (
    $nav-link-padding-x-compact + $rdh-sidebar-padding-x-compact + 0.8rem
  ) * 2 !default;
$rdh-sidebar-nav-icon-width: $rdh-sidebar-mini-width -
  (($rdh-sidebar-padding-x + $nav-link-padding-x) * 2) !default;
$rdh-sidebar-user-image-width: $rdh-sidebar-nav-icon-width +
  ($nav-link-padding-x * 0.4) !default;

// MAIN HEADER
// --------------------------------------------------------
$nav-link-height-compact: 1.75rem !default;
$rdh-app-header-bottom-border-width: $border-width !default;
$rdh-app-header-bottom-border-color: var(--#{$prefix}border-color) !default;
$rdh-app-header-bottom-border: $rdh-app-header-bottom-border-width solid
  $rdh-app-header-bottom-border-color !default;
$rdh-app-header-link-padding-y: $navbar-padding-y !default;
$rdh-app-header-height: (
  $nav-link-height + ($rdh-app-header-link-padding-y * 2)
) !default;
$rdh-app-header-height-compact: (
  $nav-link-height-compact + ($rdh-app-header-link-padding-y * 2)
) !default;

// CONTENT PADDING
// --------------------------------------------------------
$rdh-content-padding-y: 0.3rem !default;
$rdh-content-padding-x: 0.5rem !default;

// MAIN CONTENT
// --------------------------------------------------------
$rdh-app-content-bottom-area-height-sm: 3.5rem !default;
$rdh-app-content-bottom-area-height-md: 6rem !default;
$rdh-app-content-bottom-area-height-lg: 9rem !default;
$rdh-app-content-bottom-area-height-xl: 12rem !default;

// MAIN FOOTER
// --------------------------------------------------------
$rdh-app-footer-padding: 1rem !default;
$rdh-app-footer-padding-compact: 0.5rem !default;
$rdh-app-footer-border-top-width: 1px !default;
$rdh-app-footer-border-top-color: var(--#{$prefix}border-color) !default;
$rdh-app-footer-border-top: $rdh-app-footer-border-top-width solid
  $rdh-app-footer-border-top-color !default;
$rdh-app-footer-bg: var(--#{$prefix}body-bg) !default;
$rdh-app-footer-color: var(--#{$prefix}secondary-color) !default;

// BRAND LINK
// --------------------------------------------------------
$navbar-brand-padding-y-compact: $navbar-brand-padding-y * 0.75 !default;
$navbar-padding-y-compact: $navbar-padding-y * 0.5 !default;
$rdh-brand-link-padding-y: $navbar-brand-padding-y + $navbar-padding-y !default;
$rdh-brand-link-padding-y-compact: $navbar-brand-padding-y-compact +
  $navbar-padding-y-compact !default;
$rdh-brand-link-padding-x: $rdh-sidebar-padding-x !default;
$rdh-brand-link-padding-x-compact: $rdh-sidebar-padding-x-compact !default;
$rdh-brand-link-border-buttom: 1px !default;

// CARDS
// --------------------------------------------------------
$rdh-card-shadow:
  0 0 1px rgba(var(--#{$prefix}body-color-rgb), 0.125),
  0 1px 3px rgba(var(--#{$prefix}body-color-rgb), 0.2) !default;
$rdh-card-title-font-size: 1rem !default;
$rdh-card-title-font-weight: $font-weight-normal !default;

// PROGRESS BARS
// --------------------------------------------------------
$rdh-progress-bar-border-radius: 1px !default;

// CALLOUTS
// --------------------------------------------------------
$rdh-callout-link-font-weight: $alert-link-font-weight !default;

// DIRECT CHAT
// --------------------------------------------------------
$rdh-direct-chat-default-msg-bg: var(--#{$prefix}secondary-bg) !default;
$rdh-direct-chat-default-font-color: var(--#{$prefix}emphasis-color) !default;
$rdh-direct-chat-default-msg-border-color: var(
  --#{$prefix}border-color
) !default;

// Z-INDEX
// --------------------------------------------------------
$rdh-zindex-app-header: $zindex-fixed + 4 !default;
$rdh-zindex-sidebar: $zindex-fixed + 8 !default;
$rdh-zindex-sidebar-overlay: $rdh-zindex-sidebar - 1 !default;
